# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
myenv/
venv/
.venv/

# Environment variables
.env

# Node
node_modules/
dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db